<html lang="ja" >
<head>
<meta charset="UTF-8">
<title>HTML ヘッダ</title>

<link rel="stylesheet" href="./bower_components/bootstrap/dist/css/bootstrap.min.css">
<script src="./bower_components/jquery/dist/jquery.min.js"></script>
<script src="./bower_components/sugar/dist/sugar.min.js"></script>
<script src="./bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="./bower_components/angular/angular.min.js"></script>
<script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
<script src="./js/tablesample.js"></script>
<script src="./js/custom_directive.js"></script>
<body ng-app='app'>
<div ng-controller="tableCtrl" >
   <div class="row">

        <div class="col-lg-12">
            <table class="table table-hover">
                <tr>
                  <th>品番</th>
                  <th>名前</th>
                  <th>状態</th>
                  <th>選択</th>
                  <th>数量</th>
                  <th>ボタン</th>
                </tr>
                <tbody ui-sortable="sortableOptions">
                <tr ng-repeat=" line  in  lines" data-js="drag__handle">
                    <td>
                        <input type="hidden" size="3" name="items_id[]" value="{{line.id}}">
                        <input type="text" ng-model="line.code"
                            uib-typeahead=" candidate.code + ': '+ candidate.name  for candidate in getSearch($viewValue)"
                            typeahead-on-select="setCandidate($item, line)"
                            typeahead-no-results ="noResult"
                            class="form-control" move_focus>

                        <input type="hidden" name="product_id[]" value={{line.product_id}} ng-model="line.product_id">
                    <span ng-if="noResult" >存在しない商品です。</span>
                    </td>
                    <td>{{line.name}}</td>
                    <td>
                        <select ng-model="line.product_status">
                            <option ng-repeat=" pulldown in productPulldownStatus" value="{{pulldown.value}}">{{pulldown.label}}</option>
                        </select>
                    </td>
                    <td>
                        <input type="radio" ng-model="line.selected" value="a">Aタイプ
                        <input type="radio" ng-model="line.selected" value="b">Bタイプ
                    </td>
                    <td>
                        <input type="text" name="amount[]" ng-model="line.amount" value="{{line.amount}}" move_focus="addLine()">
                     </td>
                    <td><input type="button" class="btn btn-primary btn-lg" ng-click="removeLine(line)" value="列を削除する"></td>
                </tr>
                </tbody>
            </table>

        </div>
    </div>
<pre>
{{ lines | json}}
</pre>
    <div class="row">
        <div class="col-lg-12">
            <input type="button" class="btn btn-primary btn-lg" ng-click="addLine()" value="列を増やす">
        </div>
    </div>
</div>
</body>
</html>